---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

   <span class="post-date">{{ post.date | date: "%d %B %Y" | replace:"January","janvier" | replace:"February","février" | replace:"March","mars" | replace:"April","avril" | replace:"May","mai" | replace:"June","juin" | replace:"July","juillet" | replace:"August","août"| replace:"September","septembre" | replace:"October","octobre" | replace:"November","novembre" | replace:"December","décembre" }} {% if post.comments %} | <a href="{{ site.url }}{{ post.url }}#disqus_thread" class="disqus-comment-count">0 commentaire</a>{% endif %}</span>
    
   {{ post.excerpt }}
  {% if post.preview %}
  <a href="{{ post.url }}">Lire la suite</a>
 {% endif %}
 </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Plus ancien</a>
  {% else %}
    <span class="pagination-item older">Plus ancien</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Plus récent</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Plus récent</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Plus récent</span>
  {% endif %}
</div>
